
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    
}
.header-left {
    display: flex;
    width: 500px;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    min-width: 500px;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.hero {
    display: flex;
    background-color: #1f2937;
    width: 500px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 36px;
    padding-bottom: 8px;
}

.hero-img img{
    display: flex;    
    width: 500px;
}

.info {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
}

.info-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
}

.card-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px;
    width: 150px;
    height: 300px;
  }

.card img {
    display: flex;   
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 9px;
    margin: 8px;
}

.card-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 30px;
}

.quote-area {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    min-width: 400px;
    max-width: 700px;
}

.quote-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    max-width: 700px;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.quote-author {
    display: flex;
    font-weight: 600;
}

.call {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.call-area {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 20px;
    border-radius: 6px;
    color: #f9faf8;
}

.singup {
    background-color: #3882f6;
    color: white;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border: none;
}

.call-right .singup {
    border: 1px solid #f9faf8;
    margin-right: 30px;
    margin-left: 30px;
}

.call-left {
    padding-left: 30px;
}

.call-header-text {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}